h1 {
  color:darkmagenta;
}

header {
  background-color: #b0daeb;
  color: #E8FDFF;
}

body {
  background-color: rgb(238, 207, 207);
  border-radius: 25px;
  font-family: 'Yuji Mai', serif;  
}

main {
  background-color: white;
  padding: auto;
  margin: auto;
}

.hamstagram-post {
  margin-bottom: 48px;
}

.hamstagram-post .user-info img {
  border-radius: 10%;
}

a.photo {
  transition: padding 0.5s;
}

a.photo:hover {
  padding: 10px;
}

#likes {
  color: green;
}