
<% if current_user %>
<div class="new-hamstagram-post">
  <a href="/hamstagram_posts/new" class="button">New Post</a>
</div>
<% end %>

<% @hamstagram_posts.each do |hamstagram_post| %>
  <%= erb(:'shared/hamstagram_post', { locals: { hamstagram_post: hamstagram_post }}) %>
<% end %>
      
