<!doctype html>
<html>
    <head>
        <title>Hamstagram</title>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" href="../../../stylesheets/app.css">
    </head>
    <body>
        <header><h1>Hamstagram</h1></header>
        <main role="main">
            <article class="hamstagram-post">
                <div class="user-info">
                    <img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1046635/android/stickers/1947077.png" alt="Humster"/>
                    <h2>hammy_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ361flrQzAgTMvexAumBJcYdirX8f5uZ1ks1ejpPtoF2qEmB3KRoIcWRLcwoP1d7IMPq8&usqp=CAU1" alt="post from hamster_j">
                </a>
                <div class="actions">
                    0 likes
                    <span class ="comment-count" style="color:blue">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            hammy_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
                        </p>
                    </li>
                </ul>
            </article>
            <article class="hamstagram-post">
                <div class="user-info">
                  <img src="https://i.pinimg.com/originals/ec/7e/46/ec7e46a7e3f08f9b2c1762fae1f86ead.jpg" alt="kirk_whalum">
                  <h2>kirk_ham</h2>
                  <h3>1 hour ago</h3>
                </div>
                <a class="photo" href="#">
                  <img src="https://www.thesprucepets.com/thmb/LPnj-N-AcGdZRvf7E6y_Hsf2vqo=/4089x2300/smart/filters:no_upscale()/close-up-of-a-hamster-eating-groundnut-635096689-5c525f88c9e77c0001d7c1fa.jpg" alt="finstagram post from kirk_whalum">
                </a>
                <div class="actions">
                  0 likes
                  <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                  <li>
                    <p>
                      kirk_ham: #weekendvibes
                    </p>
                  </li>
                </ul>
              </article>
              <article class="hamstagram-post">
                <div class="user-info">
                  <img src="https://i.pinimg.com/originals/74/5c/7d/745c7daad275266fbbc11ca609c772a9.jpg" alt="marlin_peppa">
                  <h2>marlin_peppa</h2>
                  <h3>3 hours ago</h3>
                </div>
                <a class="photo" href="#">
                  <img src="https://cryptoglobe.s3.eu-west-2.amazonaws.com/2021/10/cute-golden-hamster-768x512.jpg" alt="finstagram post from marlin_peppa">
                </a>
                <div class="actions">
                  0 likes
                  <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                  <li>
                    <p>
                      marlin_peppa: lunchtime! ;)
                    </p>
                  </li>
                </ul>
              </article>
        </main>
    </body>
</html>