<!doctype html>
<html>
  <head>
  <title>Hamstagram</title>
  <link rel="stylesheet" type="text/css" href="../../../stylesheets/normalize.css">
  <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com">
  <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap">
  <link rel="stylesheet" type="text/css" href="../../../stylesheets/lib.css">
  <link rel="stylesheet" type="text/css" href="../../../stylesheets/app.css">
  </head>
  <body>
  <%= yield %>
  
  </body>
</html>